S3method(ALLEXTID,Reactome)
S3method(EXTID2TERMID,Reactome)
S3method(TERM2NAME,Reactome)
S3method(TERMID2EXTID,Reactome)
export(enrichPathway)
importClassesFrom(DOSE,enrichResult)
importFrom(DOSE,ALLEXTID)
importFrom(DOSE,EXTID2NAME)
importFrom(DOSE,EXTID2TERMID)
importFrom(DOSE,TERM2NAME)
importFrom(DOSE,TERMID2EXTID)
importFrom(DOSE,enrich.internal)
importFrom(org.Hs.eg.db,org.Hs.egSYMBOL)
importFrom(reactome.db,reactomeEXTID2PATHID)
importFrom(reactome.db,reactomePATHID2EXTID)
importFrom(reactome.db,reactomePATHID2NAME)
importMethodsFrom(AnnotationDbi,mappedkeys)
importMethodsFrom(AnnotationDbi,mget)
importMethodsFrom(DOSE,plot)
importMethodsFrom(DOSE,setReadable)
importMethodsFrom(DOSE,show)
importMethodsFrom(DOSE,summary)
